
    @font-face {
      font-family: iranyekan;
      font-style: normal;
      font-weight: normal;
      src: url('iranYekan/eot/iranyekanwebbold.eot');
      src: url('iranYekan/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
      url('iranYekan/woff2/iranyekanwebbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
      url('iranYekan/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('iranYekan/ttf/iranyekanwebbold.ttf') format('truetype');
    }
