body {
    font-family: iranyekan;
}

#head {
    margin-right: -2px;
}

.rotate {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

h1 {
    font-family: iranyekan;
    background-position: top right;
    font-size: x-large;
}

h2 {
    font-size: x-large;
    color: rgb(51, 122, 183);
}

h3 {
    font-size: small;
    color: rgb(51, 122, 183);
}

#navb {
    margin-top: 10px;
    background-color: hsl(238, 238, 238);
}

#emailbar {
    margin-left: -20px;
    position: relative;
}

#trash-ic {
    color: rgb(51, 122, 183);
}

#mail-ic {
    color: rgb(51, 122, 183);
}

.top-icons {
    margin-top: 20px;
    position: static;
}

.edame {
    width: 120px;
    background-color: black;
    color: white;
    font-size: larger;
}

.fasele {
    font-size: large;
}

.writer {
    font-size: small;
}

.line {
    margin-left: 30px;
    margin-top: 10px;
}

.title1 {
    font-size: large;
}
.date{
    margin-top: 15px;
}
.btx{
    color: rgb(51, 122, 183);
}